<div class="grid-container index-container">
    <div class="sec-background form-container">
        <form action="/artist-search" method="get">
        <input type="text" name="artist">
        <button type="submit" class="btn">Search for an artist!</button>
        </form>
    </div>
</div>